<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Follow us!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-list>
      <ion-list-header>Follow Us ad share this app</ion-list-header>
      <ion-item>
        <ion-note>
          All information about poke api at
          <a target="_blank" href="https://pokeapi.co/about">https://pokeapi.co/about</a>
        </ion-note>
      </ion-item>
    <ion-item href="https://www.github.com">
      <ion-icon name="logo-github"></ion-icon>
      <ion-label>github</ion-label>
    </ion-item>
    <ion-item href="https://www.linkedin.com">
      <ion-icon name="logo-linkedin"></ion-icon>

      <ion-label>linkedin</ion-label>
    </ion-item>
    <ion-item href="https://www.youtube.com">
      <ion-icon name="logo-youtube"></ion-icon>
      <ion-label>youtube</ion-label>
    </ion-item>
    </ion-list>
  </ion-header>
</ion-content>
