<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>pokemon-details</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-grid *ngIf="pokemon">
    <ion-row>
      <ion-col class="ion-text-center ion-text-capitalize">
        <h1>{{pokemon.name}}</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="ion-text-center">
        <ion-button (click)="addToFavorite()">
          <ion-icon name="heart"></ion-icon>
        </ion-button>

      </ion-col>
      <ion-col size="6" class="ion-text-center">
        <ion-button (click)="share()">
          <ion-icon name="share"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
        <ion-col size= 3></ion-col>
        <ion-col size="8" class="ion-text-center">
        <ion-img [src]="pokemon.img" alt=" {{pokemon.name}}"></ion-img>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">

      </ion-col>
    </ion-row>
    <ion-row *ngIf="(pokemonData$ | async ) as pData">
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-label class="ion-text-center" color="danger">
            <h1>Pokemon Details</h1>
          </ion-label>
        </ion-toolbar>
      </ion-header>

    <ion-col size="6">
      <ion-list>
        <ion-list-header >
          <ion-label class="ion-text-center">Size</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>Weight</ion-label>
          <ion-badge>{{pData.weight}}</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>Height</ion-label>
          <ion-badge>{{pData.height}}</ion-badge>
        </ion-item>
      </ion-list>
    </ion-col>
    <ion-col size="6">
      <ion-list lines="true">
        <ion-list-header >
          <ion-label class="ion-text-center">Abilities</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let ab of pData.abilities">
        <ion-label>{{ab.ability.name}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list lines="none">
    <ion-item class="ion-text-center">
      <ion-label>

      </ion-label>
    </ion-item>
    <ion-item class="ion-text-center">

    </ion-item>
  </ion-list>


</ion-content>
