<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/tab1">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>POKEMONS</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favorites" href="/tabs/tab2">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>FAVORITES</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about" href="/tabs/tab3">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>ABOUT</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
